* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* common */
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  border-radius: 14px;
  padding: 25px 8px;
  background: #2ac9bf;
  width: 186px;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}
/* header */
.content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  padding: 57px 0 56px;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .navigation ul {
  display: flex;
}

.header .navigation a {
  color: #2f3a3b;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  padding: 16px 39px;
}

.header .action .btn.btn-sign {
  width: 108px;
  padding: 15px 8px;
  margin-left: 24px;
  color: #1ebfc1;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
}

/* hero */
.hero {
  padding-bottom: 79px;
}
.hero .hero-row {
  display: flex;
}

.hero .info .sub-title {
  color: #767e7e;
  font-size: 1.4rem;
  font-weight: 400;
  padding-top: 93px;
}

.hero .info .title {
  margin-top: 18px;
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16; /* 116.129% */
}

.hero .info .desc {
  width: 374px;
  margin: 46px 0 52px;
  color: #9da6a5;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.77; /* 177.778% */
}

.hero .info .btn a {
  color: #fff;
}
.hero .img-hero {
  width: 55%;
  position: relative;
}

.hero .img-hero .image {
  width: 576px;
  height: 631px;
  object-fit: cover;
}

.img-courses {
  position: absolute;
  top: 149px;
  left: -40px;
}
.img-courses .img {
  display: flex;
  /* display: inline-block; */
  width: 157px;
  height: 75px;
  align-items: center;
  border-radius: 18px;
  background: #fefefd;
  position: relative;
}

.img-courses .img .book {
  display: flex;
  align-items: center;
  position: absolute;
  top: 28px;
  left: 4px;
  width: 28px;
  height: 4px;
  background: #fff;
  border-radius: 999px;
}

.img-courses span {
  width: 55px;
  margin-left: 16px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}
.img-schedules {
  position: absolute;
  bottom: 46px;
  left: -65px;
  border-radius: 24px;
  display: inline-block;
  background: #fff;
  width: 124px;
  height: 132px;
  text-align: center;
  align-items: center;
}

.img-schedules span {
  display: inline-block;
  padding: 16px 0;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}
.group-Schedules {
  display: inline-block;
}

.group-Schedules .item-4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.group-Schedules .item-2 {
  padding: 12px 0 10px;
}

.group-Schedules .item-4 {
  padding: 16px 0 23px;
}

.active-student {
  position: absolute;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
  bottom: 41px;
  right: 45px;
  width: 207px;
  height: 90px;
  border-radius: 24px;
  background: #fefefd;
}

.active-student span {
  padding: 17px 0 8px;
  text-align: center;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}

.active-student .avatar-group {
  padding: 0 0 17px;
}

.active-student .avatar-group .avatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: -7px;
}

.active-student .avatar-group .avatar:first-child {
  margin-left: 0;
}
.hero .button {
  display: inline-flex;
  justify-content: center;
}
.hero .info .play {
  margin-left: 50px;

  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border: none;
  border-radius: 50%;
  background: #ffffff;
}
.hero .info .play img {
  text-align: center;
}

/* features */

.features {
  margin-top: 130px;
}

.features .heading {
  margin: 18px 0;
  width: 577px;
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.34; /* 133.333% */
}
.features .features-header .desc {
  width: 590px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
}

.features-section {
  margin-top: 80px;
}
.features-list {
  display: flex;
}

.features-list .title {
  margin-top: 26px;
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
}
.features-item:nth-child(1) {
  max-width: 168px;
  margin-right: 209px;
}

.features-item:nth-child(2) {
  max-width: 223px;
  margin-right: 200px;
}

.features-item:nth-child(3) {
  max-width: 224px;
}

.features-list .desc {
  color: #9da6a5;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.68; /* 168.75% */
}

.popular {
  margin-top: 130px;
}

.popular .header .heading {
  margin-top: 18px;
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
}
.popular .popular-row {
  display: flex;
  justify-content: space-between;
}
.popular .header .desc {
  margin-top: 19px;
  width: 525px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78; /* 177.778% */
}

.popular .popular-row .link {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration-line: underline;
}

.popular .popular-list {
  margin-top: 79px;
  display: flex;
  gap: 47px;
}

.popular .popular-list .popular-item {
  position: relative;
  width: 30.6%;
}

.popular .popular-item .thumb {
  width: 359px;
  height: 393px;
  object-fit: cover;
  border-radius: 8px;

  background: #d0efed;
}

.popular .popular-item .info {
  position: absolute;
  top: 322px;
  left: 17px;
  padding: 0 25px 29px;
  width: 325px;

  border-radius: 8px;
  background: #fff;
}

.popular .popular-item:hover .thumb {
  opacity: 0.3;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}
.popular-item .info .heading {
  color: #0d1111;
  padding-top: 18px;
  font-size: 2.2rem;
  font-weight: 700;
}

.popular-item .info .fee {
  display: inline-block;
  margin-top: 16px;
  color: #767e7e;
  font-size: 1.6rem;
  font-weight: 400;
}

.popular-item strong {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}

.popular-item .info .desc {
  margin-top: 6px;
  color: #9da6a5;
  font-size: 1.4rem;
  font-weight: 400;
}
.popular-item .info .date {
  display: flex;
  margin-top: 18px;
}
.popular-item .info .month {
  padding-left: 26px;
  position: relative;
  color: #9da6a5;
  font-size: 1.4rem;
  font-weight: 400;
}

.popular-item .info .month::before {
  content: "";
  width: 6px;
  height: 6px;
  top: 0;
  left: 10px;
  background: #1ebfc1;
  border-radius: 50%;
  position: absolute;
  transform: translateY(50%);
}

.countdown {
  margin-top: 265px;
}

.countdown .countdown-list {
  display: flex;
  justify-content: center;
  gap: 129px;
}

.countdown-list .countdown-item strong {
  color: #0d1111;
  text-align: center;
  font-size: 6.2rem;
  font-weight: 700;
}

.countdown-list .countdown-item span {
  margin-top: 11px;
  color: #767e7e;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}

.quote {
  margin-top: 264px;
}

.quote .info {
  width: 36%;
}
.quote .info .icon {
  padding: 37px 0 26px;
}

.quote .info .desc {
  color: #5d6564;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}

.quote .info strong {
  color: #070707;
  font-size: 16px;
  font-weight: 500;
}

.quote .info .author {
  padding-left: 13px;
  position: relative;
  margin-top: 33px;
  color: #767e7e;
  font-size: 1.6rem;
  font-weight: 400;
}

.quote .info .author::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  width: 8px;
  height: 2px;
  background: #070707;
  transform: translateY(-50%);
}

.quote .info .button {
  display: flex;
  gap: 30px;
  margin-left: auto;
}

.quote .button .previous-btn {
  margin-top: 52px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2ac9bf;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote .previous-btn .btn-page {
}
.quote-row {
  display: flex;
}

.quote-row .avatar {
  width: 58%;
  height: 481px;
  margin-left: auto;
  position: relative;
}
.quote .avatar .avatar-main {
  width: 235px;
  height: 235px;
  object-fit: cover;
  border-radius: 235px;
  position: absolute;
  top: 107px;
  right: 171px;
}

.avatar .avatar-around:nth-child(2) {
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  right: 0;
  top: 19px;
}

.avatar .avatar-around:nth-child(3) {
  position: absolute;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  top: 0;
  left: 144px;
}

.avatar .avatar-around:nth-child(4) {
  position: absolute;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  bottom: 29px;
  right: 32px;
}
.avatar .avatar-around:nth-child(5) {
  position: absolute;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  bottom: 0;
  left: 212px;
}
.avatar .avatar-around:nth-child(6) {
  position: absolute;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  left: 0;
  bottom: 145px;
}

.started {
  margin-top: 130px;
  background: #def6f5;
}
.started .started-row {
  display: flex;
  align-items: center;
  position: relative;
}
.started .heading {
  padding: 76px 0 18px;
  color: #070707;
  font-size: 4.2rem;
  font-weight: 700;
}

.started .get-admit .desc {
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  padding-bottom: 88px;
}
.started .get-started {
  position: absolute;
  top: 96px;
  right: 154px;
}

.footer {
  margin-top: 130px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}
.footer-row .title {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 500;
}

.footer-row .column .list {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
}
.footer-row .column a {
  color: #535353;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  padding-top: 18px;
}
.footer-row .column a:first-child {
  padding-top: 0;
}
.footer .list img {
  padding-right: 9px;
}
.footer .list .span {
  color: #535353;
  font-size: 1.6rem;
  font-weight: 400;
}

.footer .copyright {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.footer .copyright .desc {
  color: #b0b5b4;
  font-size: 1.8rem;
  font-weight: 400;
  padding-bottom: 50px;
}
